---
import mePic from '../assets/me-pic.png';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Info about me"
	pubDate={new Date('August 08 2021')}
	heroImage={mePic}
>
	<p>
		Hello! My name is Kainoa Woessner and I am an undergraduate student at the University of California, San Diego (UCSD). I am interested in parallel computing, embedded systems, and web development. I plan to begin graduate school at UCSD in the Winter. Some things I enjoy doing in my free time is mountain biking, playing chess, and watching football. Go Chargers!
	</p>

</Layout>
