---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { Image } from 'astro:assets';
import football from '../assets/football.png';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<style>
		#football-img { 
			width: 700px;
		}
	</style>
	<body>
		<Header />
		<main>
			<h2>Welcome to my Football Blog</h2>
			<p>
			My name is Kainoa Woessner. I am a massive NFL fan
			 and I post every Monday about football. I love talking ball
			 so be sure to follow me on Twitter and join my Discord channel.
			 </p>
			 <Image id="football-img" src={football} alt="football resting on green grass field"/>
		</main>
		<Footer />
	</body>
</html>
